@import './base.css';

/* Utils and reset classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
